
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

$anim-speed: 0.3s;
$hero-height: 500px;
$brand-font: 'Nunito Sans', sans-serif;
$primary-blue: #1890ff;
$primary-darkblue: #0871D1;
$fb-blue: #3C5A96;
$form-surrounding-background: #F7F8FA;

//Common elements

//Buttons
.button.lozenge{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

.button.lozenge:hover {
  background-color: #ddd;
}

//forms -login register

.auth-form-container{
  background-color: $form-surrounding-background;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-container{
    max-width: 350px;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    background-color: white;
    padding: 20px;

    h2{
      font-weight: 400;
      font-size: 22px;
      text-align: center;
    }

    label.form-label{
      color: #888;
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 2px;
    }

    .button.lozenge{
      width: 100%;

      
      .icon{
        float: left;
      }

      .icon.red.warning{
        float: none;
      }

      &.login-email-btn{
        background-color: $primary-darkblue;
        color: white;
        margin-bottom: 40px;
      }

      &.login-email-btn:hover{
        background-color: $primary-blue;
      }

      &.login-fb-btn{
        color: white;
        background-color: $fb-blue;
        margin-bottom: 20px;
      }

      &.login-google-btn{
        background-color: white;
        border: 1px solid #ccc;
      }

    }

    p{
      text-align: center;
      color: #888;
      margin-top: 30px;
    }
  }

}


//Home

body{
  font-family: $brand-font;
}

.home-hero{
  width: 100%;
  height: $hero-height;
  background-color: bisque;
  background-image: url('./assets/home_hero_Patrick_Fore.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;

  .hero-text-container{

    position: relative;
    top: 100px;
    left: 10%; 

    .hero-title, .hero-sub{
      color: white;
    }
  
    .hero-title{
      font-weight: 600;
    }

    .hero-sub{
      font-size: 12px;
      font-weight: 300;
    }
    
    .button.lozenge{
      background-color: #f1f1f1;
      border: none;
      color: black;
      padding: 10px 20px;
      margin: 4px 2px;
      width: 120px;
    }
    
    .button.lozenge:hover {
      background-color: #ddd;
    }

  }
  

  #layer-1{
    position: absolute;
    bottom: 0px;
  }

  #hero-image-credit{
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 10px;
  }

}

.home-details{
  width: 100%;
  margin: 0;
  
  h1{
    text-align: center;
    font-size: 25px;
    margin-top: 19px;
    font-weight: 600;
  }

  .home-details-text{
    width: 100%;
    padding-left: 50px;

    display: flex;
    justify-content: center;

    .detail-tile{
      width: 25%;
      margin: 20px 10px;
    }
  }
}

// Navbar section

.logo{
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  padding-top: 5px;
}

.navbar{
  padding: 20px 35px;
  display: flex;

  .nav-btns{
    width: 100%;

    display: flex;
    justify-content: flex-end;
  
    a {
      color: black;
      font-size: 16px;
      margin-right: 20px;
    }

    a:hover {
      color: $primary-blue;
    }

    .button.lozenge{
      font-size: 16px;
      background-color: white;
      border: 2px solid black;
      color: black;
      padding: 5px 15px;
      margin: 4px 2px;
      border-radius: 16px;
    }
  }
  
  .button.lozenge:hover {
    color: $primary-blue;
  }
}


//Login






.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 400;
  color: blue;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  text-decoration: underline;
}


// PhotosHome Section

// Profile Card section

.profiles-to-follow{
  border: 1px solid red;
  width: 100%;
  height: 500px;
}

.profile-card-outer{
  max-width: 400px;
  max-height: 250px;
  background-color: blue;
  border: 1px solid red;

  img{
    max-width: 100px;
    height: auto;
  }
}

.container {
  position: relative;
  max-height: 500px;
  width: 100%;
  margin: auto;
  background-color: blue;
}

.buttonBack {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  // transform: translateY(-50%);
}

// .buttonNext {
//   // position: absolute;
//   // top: 50%;
//   // right: 0;
//   // transform: translateY(-50%);
// }

.dotGroup {
  text-align: center;
}

// PhotosGalleryContainer Section

.photos-by-followees{
  display: flex;
  flex-wrap: wrap;



  

    .photo-by-followee{
      flex-grow: 1;
      max-height: 400px;
    }

}

.tiles {
		
	.tile {
		display: inline-block;
		text-align: left;
		opacity: .99;
		overflow: hidden;
		position: relative;
		// border-radius: 3px;
		// box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
		
		&:before {
			content: '';
			background: linear-gradient(
				to bottom,
				rgba(0,0,0,0) 0%,
				rgba(0,0,0,0.7) 100%
			);
			width: 100%;
			height: 20%;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 2;
			transition-property: top, opacity;
			transition-duration: $anim-speed;
		}
		
		img {
			display: block;
			max-width: 100%;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		}
		
		.details {
			font-size: 16px;
			padding: 20px;
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 3;
			
			span {
				display: block;
				opacity: 0;
				position: relative;
				top: 100px;
				transition-property: top, opacity;
				transition-duration: $anim-speed;
				transition-delay: 0s;
			}
			
			.title {
				line-height: 1;
				font-weight: 600;
				font-size: 18px;
			}
			
			.info {
				line-height: 1.2;
				margin-top: 5px;
				font-size: 12px;
			}
		}
		
		&:focus,
		&:hover {
			
			&:before,
			span {
				opacity: 1;
			}
			
			&:before {
				top: 80%;
			}
			
			span {
				top: 0;
			}
			
			.title {
				transition-delay: 0.15s;
			}
			
			.info {
				transition-delay: 0.25s;
			}
		}
	}
}


// Upload Photos section

label.upload-label{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 30px;
  }

// Submit Photo section


.photo-submit-outer{
  width: 100%;
  display: flex;
  
  .image-upload-container{
    border: 1px solid red;
    height: 100vh;
  
    flex-grow: 3;

    img{
      width: 300px;
      height: auto;
    }
  }

  .form{
    flex-grow: 2;
  }

}