

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 400;
  color: blue;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  text-decoration: underline;
}


// PhotosHome Section

// Profile Card section

.profiles-to-follow{
  border: 1px solid red;
  width: 100%;
  height: 500px;
}

.profile-card-outer{
  max-width: 400px;
  max-height: 250px;
  background-color: blue;
  border: 1px solid red;

  img{
    max-width: 100px;
    height: auto;
  }
}